<h1>About</h1>
<p>
	Demigoderest is a tool used for collecting, organizing, and sharing the video game media, military history, and occult orientated material we all love. Open up to the Sci-fi, fantasy world that inspires you and share today.
	<%= link_to "Total War", "http://www.totalwar.com/en_us/" %> is a link to Total War.
</p>