	 <div class="hero-unit">
		<h1><STRONG>John Nuccio</STRONG>Interest</h1>
		<p>
			You've found the home page for <STRONG>John Nuccio</STRONG> Interest
		</p>
		<p>
			<STRONG>John Nuccio</STRONG> Interest is a social tool not unlike the social site Pinterest that John Nuccio created to showcase his web development abilities. Feel free to sign up and share today.
		</p>
		<p>
			<%= link_to "Sign Up Now!", '#', class: "btn btn-inverse btn-large" %> 
		</p>
	</div>

