<div class="footer footer-fixed-bottom">
	<div class="footer">
		<small>
			<div>
			    <ul>
			        <li>Copyright © 2013. All Rights Reserved</li>
			    </ul>
			  <ul class="footer pull-right">
			      Website & Social Media by John Nuccio
			  </ul>

			</div>
		</small>
	</div>
</div>

